.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  .item {
    flex: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h2 {
      margin-top: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 100%;

      input {
        padding: 20px;
        border: none;
        outline: none;
        background-color: rgba(17, 25, 40, 0.6);
        color: white;
        border-radius: 5px;
        width: 100%; /* Full width input */
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; /* Center label content */
        gap: 10px;
        cursor: pointer;
        text-decoration: underline;

        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          object-fit: cover;
          opacity: 0.6;
        }
      }

      button {
        width: 100%;
        padding: 20px;
        border: none;
        background-color: #1f8ef1;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;

        &:disabled {
          cursor: not-allowed;
          background-color: #1f8ff19c;
        }
      }

      select {
        padding: 10px;
        font-weight: 300;
        border-radius: 5px;
        font-size: 14px;
        width: 100%;
        background-color: rgba(17, 25, 40, 0.6);
        color: white;
      }
    }
  }

  .separator {
    height: 80%;
    width: 2px;
    background-color: #dddddd35;
  }

  /* Media Queries for responsiveness */
  @media (max-width: 1024px) {
    gap: 50px;

    .item {
      form {
        input,
        button {
          padding: 15px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 30px;

    .separator {
      display: none;
    }

    .item {
      form {
        padding: 20px;
        input,
        button {
          padding: 10px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .item {
      form {
        input {
          font-size: 14px;
        }

        button {
          font-size: 16px;
        }
      }
    }
  }

  .link-button {
    background: none;
    border: none;
    color: #1f8ef1;
    cursor: pointer;
    text-decoration: underline;
  }

  .link-button:hover {
    text-decoration: none;
  }
}
